/*IMPORTING GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/*UNIVERSAL STYLING*/
* {
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
  margin: 0;
  padding: 0;
}
/*SHARED ITEMS*/
.txt-clr-nav-a {
  color: #8987a1 !important;
}
.txt-clr {
  color: rgba(0, 0, 0, 0.5);
}
.header-clr {
  color: #e95a08;
}

/*HEADER STYLING */
header {
  max-width: 1140px;
  margin: 0 auto;
}
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-mobile {
  display: none;
}
.navbar {
  display: flex;
  gap: 48px;
  align-items: center;
}
.navbar li {
  list-style-type: none;
}
.navbar li a,
.nav-mobile a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar li .active {
  font-weight: bold;
  color: #252432;
}
/*BANNER/HERO SECTION STYLING*/
.banner {
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
}
.banner-title {
  font-weight: bold;
  font-size: 4.06rem;
  margin: 0;
}
.banner-description {
  font-size: 1.375rem;
  margin: 0;
  padding-top: 13px;
}
.banner img {
  width: 100%;
  display: block;
}
/*HEADER SECTION RESPONSIVE*/
@media screen and (max-width: 576px) {
  .hide-on-mobile {
    display: none;
  }
  nav > img {
    width: 63px;
    height: 38px;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 35px;
  }
  .banner-content {
    padding: 0 16px;
  }
  .banner-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  .banner img {
    width: 100%;
    margin-bottom: 28px;
  }
}
/*OUR PLANT SECTION STYLING*/
main {
  max-width: 1140px;
  margin: 120px auto 210px auto;
}
.plant-content {
  text-align: center;
  margin-bottom: 49px;
}
.plant-item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  text-align: center;
}
.plant-title {
  font-weight: bold;
  font-size: 3.125rem;
  margin: 0;
}
.plant-description {
  width: 888px;
  font-size: 1.375rem;
  margin: 0 auto;
  padding-top: 16px;
}
.plant-item img {
  width: 100%;
  display: block;
  margin: 0;
}
.plant-info {
  margin-top: 25px;
}
.item-title {
  font-size: 1.375rem;
  font-weight: 500;
  margin: 0;
}
.item-price {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 10px 0 0 0;
}
.item-button {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 25px;
}
/*OUR PLANT SECTION RESPONSIVE*/
@media screen and (max-width: 576px) {
  .plant-item-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
  }
  .plant-content {
    width: 100%;
  }
  .plant-title {
    font-size: 1.5rem;
  }
  .plant-description {
    width: 336px;
    font-size: 0.875rem;
  }
  .item-title {
    font-size: 1rem;
  }
  .item-price {
    font-size: 1rem;
    margin-top: 3px;
  }
}
/*FLOWER AND PLANT LOVER SECTION STYLING*/
.flower-lover {
  max-width: 1142px;
  margin: 0 auto 0 auto;
}
.content-container {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
}
.flower-lover-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.flower-lover-text {
  font-size: 1.375rem;
}
.badge-container {
  width: 286px;
  height: 286px;
  position: relative;
  top: 159px;
  left: 347px;
  z-index: 1;
}
.badge-container img {
  width: 100%;
}
/*FLOWER AND PLANT LOVER SECTION MOBILE RESPONSIVE*/
@media screen and (max-width: 576px) {
  .flower-lover {
    margin-top: 42px;
  }
  .badge-container {
    display: none;
  }
  .content-container {
    flex-direction: column;
    padding: 0 16px;
    gap: 18px;
  }
  .content-container > img {
    width: 100%;
  }
  .flower-lover-title {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .flower-lover-text {
    font-size: 0.875rem;
  }
  .flower-lover-content > ul {
    margin: 0;
    padding-left: 28px;
  }
}
